# ==========================================
# PRIVATE VARIABLES (Server-Side Only - Keep Secret!)
# ==========================================
# EmailJS configuration for the contact form
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
CONTACT_EMAIL=

# Other Examples
# DATABASE_URL=
# API_SECRET_TOKEN=
# STRIPE_SECRET_KEY=
EMAILJS_SERVICE_ID=service_zbnlgwc
EMAILJS_TEMPLATE_ID=template_vyuqhp7
EMAILJS_PUBLIC_KEY=cwymQ8Ah0aKkgUItK
CONTACT_EMAIL=ssuneelkarkee98@gmail.com